.mainTitle {
  font-weight: 400;
  font-size: 32px;
}

.background {
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  animation: colorchange 175s linear 1s infinite; /* animation-name followed by duration in seconds*/
  -webkit-animation: colorchange 175s linear 0s infinite alternate; /* Chrome and Safari */
}

@keyframes colorchange {
  0% {
    background: #9796f0;
    color: black;
  }
  10% {
    background: #e0b9db;
    color: black;
  }
  20% {
    background: #fff6b7;
    color: black;
  }
  30% {
    background: #f5a218;
    color: black;
  }
  40% {
    background: #f12711;
    color: black;
  }
  50% {
    background: #9be15d;
    color: black;
  }
  60% {
    background: #64b3f4;
    color: black;
  }
  70% {
    background: #2d69f6;
    color: black;
  }
  80% {
    background: #7c6efd;
    color: black;
  }
  90% {
    background: #e9dcfa;
    color: black;
  }
  100% {
    background: #fb8387;
    color: black;
  }
}

@-webkit-keyframes colorchange /* Safari and Chrome */ {
  0% {
    background: #9796f0;
    color: black;
  }
  10% {
    background: #e0b9db;
    color: black;
  }
  20% {
    background: #f5a218;
    color: black;
  }
  30% {
    background: #f8677c;
    color: black;
  }
  40% {
    background: #f12711;
    color: black;
  }
  50% {
    background: #9be15d;
    color: black;
  }
  60% {
    background: #64b3f4;
    color: black;
  }
  70% {
    background: #2d69f6;
    color: black;
  }
  80% {
    background: #7c6efd;
    color: black;
  }
  90% {
    background: #e9dcfa;
    color: black;
  }
  100% {
    background: #fb8387;
    color: black;
  }
}
