.background {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    211deg,
    #ca392a,
    #e32d1b,
    #e85344,
    #ec5b18,
    #e86f37,
    #f09165,
    #f2cd03,
    #f5dd58,
    #f7e78e,
    #308907,
    #4ba123,
    #77ac5f,
    #58b5c5,
    #78b8c3,
    #a2c3c8,
    #001aea,
    #5060e3,
    #a1a7df,
    #5b0ae3,
    #874ee6,
    #b494ea
  );
  background-size: 4200% 4200%;

  -webkit-animation: AnimationName 999s ease infinite;
  -moz-animation: AnimationName 999s ease infinite;
  -o-animation: AnimationName 999s ease infinite;
  animation: AnimationName 999s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}
